<div class="contentUserInterface">

    <div class="newPost">
        <a href="http://localhost:4200/">
            <button class="boutonNewPost">
                Nouveau Post
            </button>
        </a>
    </div>
    
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="infos">
        <h4 class="info">Nombre de posts restants : </h4>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <h4 class="info">Nombre de posts effectués : </h4>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <h4 class="info">Score : </h4>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

    </div>

</div>